In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
os.chdir(r'C:/Users/cgupta/Desktop/work')
os.getcwd()

'C:\\Users\\cgupta\\Desktop\\work'

In [3]:
data=pd.read_csv('retail_new_clean.csv')
#data.head()

In [4]:
data.groupby('Cluster_index')['CountInvoices'].min()

Cluster_index
0     1
1    34
2    12
Name: CountInvoices, dtype: int64

In [5]:
data.groupby('Cluster_index')['CountInvoices'].max()

Cluster_index
0      11
1    2260
2     155
Name: CountInvoices, dtype: int64

In [6]:
data.groupby('Cluster_index')['UnitPrice'].min()

Cluster_index
0    0.001
1    0.040
2    0.080
Name: UnitPrice, dtype: float64

In [7]:
data.groupby('Cluster_index')['UnitPrice'].max()

Cluster_index
0    649.5
1     18.0
2    165.0
Name: UnitPrice, dtype: float64

In [8]:
data=data[data['Cluster_index']==1]

In [9]:
data.head()

,InvoiceNo,StockCode,Description,UnitPrice,CountInvoices,logCountInvoices,logUnitPrice,Cluster_index
17,536367,84879,assortedcolourbirdornament,1.69,1455,3.162863,0.227887,1
18,536392,84879,assortedcolourbirdornament,1.69,1455,3.162863,0.227887,1
19,536395,84879,assortedcolourbirdornament,1.69,1455,3.162863,0.227887,1
20,536408,84879,assortedcolourbirdornament,1.69,1455,3.162863,0.227887,1
21,536460,84879,assortedcolourbirdornament,1.69,1455,3.162863,0.227887,1

In [10]:
#data.to_csv('retail_new_clean_cluster1.csv', index=False)

In [11]:
retail_new_clean_cluster1=pd.read_csv('retail_new_clean_cluster1.csv')
#retail_new_clean_cluster1.head()

In [12]:
Invoice_vs_Description_matrix_cluster1=(retail_new_clean_cluster1.groupby(['InvoiceNo'])
                                        .apply(lambda x: {y:1 for y in x['Description']})
                                        .apply(pd.Series)
                                        .fillna(0)
                                        .reset_index())

In [13]:
#Invoice_vs_Description_matrix_cluster1.head()

In [14]:
Invoice_vs_Description_matrix_cluster1=Invoice_vs_Description_matrix_cluster1.set_index('InvoiceNo')
#Invoice_vs_Description_matrix_cluster1['Total']=Invoice_vs_Description_matrix_cluster1.sum(1)

In [15]:
Invoice_vs_Description_matrix_cluster1.head()

,assortedcolourbirdornament,poppy'splayhousebedroom,poppy'splayhousekitchen,feltcraftprincesscharlottedoll,boxof6assortedcolourteaspoons,homebuildingblockword,lovebuildingblockword,doormatnewengland,jammakingsetwithjars,bluecoatrackparisfashion,...,tradtionalalphabetstampset,vintagedoilyjumbobagred,lunchbagpaisleypark,jumbobagpaisleypark,strawberryceramictrinketpot,classicchromebicyclebell,lunchbagredvintagedoily,doilythankyoucard,bicyclepuncturerepairkit,classicbicycleclips
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536367,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536370,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
#Invoice_vs_Description_matrix_cluster1.to_csv('Invoice_vs_Description_matrix_cluster1.csv')

In [17]:
data=data[data['Cluster_index']==2]

#data.to_csv('retail_new_clean_cluster2.csv', index=False)

In [18]:
data.head()

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, UnitPrice, CountInvoices, logCountInvoices, logUnitPrice, Cluster_index]
Index: []

In [19]:
#data.to_csv('retail_new_clean_cluster2.csv', index=False)

In [20]:
retail_new_clean_cluster2=pd.read_csv('retail_new_clean_cluster2.csv')

In [21]:
#retail_new_clean_cluster2.head()

In [22]:
    Invoice_vs_Description_matrix_cluster2=(retail_new_clean_cluster2.groupby(['Description'])
                                            .apply(lambda x: {y:1 for y in x['InvoiceNo']})
                                        .apply(pd.Series)
                                        .fillna(0)
                                        .reset_index())

In [23]:
Invoice_vs_Description_matrix_cluster2=Invoice_vs_Description_matrix_cluster2.set_index('Description')

In [24]:
#Invoice_vs_Description_matrix_cluster2['Total']=Invoice_vs_Description_matrix_cluster2.sum(1)

In [25]:
Invoice_vs_Description_matrix_cluster2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1367 entries, 12daisypegsinwoodbox to zincwiresweetheartlettertray
Columns: 11023 entries, 536366 to 581585
dtypes: float64(11023)
memory usage: 115.0+ MB

In [26]:
#Invoice_vs_Description_matrix_cluster2.to_csv('Invoice_vs_Description_matrix_cluster2.csv')

In [27]:
Invoice_vs_Description_matrix_cluster2.head()

,536366,536368,536372,536377,536381,536382,536384,536385,536388,536389,...,581493,581496,581498,581538,581571,581574,581578,581580,581581,581585
Description,,,,,,,,,,,,,,,,,,,,,
12daisypegsinwoodbox,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12egghousepaintedwood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12pinkhen+chicksinbasket,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12pinkrosepegplacesettings,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16piececutlerysetpantrydesign,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
'''#um=int(input("enter a number "))
fact=1
for i in range(1,num):
    fact=fact*i
print("the factorial of ",num," is ",fact)
'''

'#um=int(input("enter a number "))\nfact=1\nfor i in range(1,num):\n    fact=fact*i\nprint("the factorial of ",num," is ",fact)\n'

In [29]:
#(Invoice_vs_Description_matrix_cluster2['Total'].describe())

In [30]:
#Invoice_vs_Description_matrix_cluster2.iloc[0+1,0+1]

In [31]:
from sklearn.metrics.pairwise import pairwise_distances
#print(len(1-pairwise_distances(Invoice_vs_Description_matrix_cluster2.T, metric = "hamming")))

In [32]:
jac_sim2 = 1 - pairwise_distances(Invoice_vs_Description_matrix_cluster2.T, metric = 'cosine')
jac_sim2 = pd.DataFrame(jac_sim2, index=Invoice_vs_Description_matrix_cluster2.columns, columns=Invoice_vs_Description_matrix_cluster2.columns)
jac_sim2.head()

,536366,536368,536372,536377,536381,536382,536384,536385,536388,536389,...,581493,581496,581498,581538,581571,581574,581578,581580,581581,581585
536366,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536372,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536377,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536381,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
retail_new_clean_cluster1=pd.read_csv('retail_new_clean_cluster1.csv')

In [34]:
Invoice_vs_Description_matrix_cluster1=(retail_new_clean_cluster1.groupby(['Description'])
                                            .apply(lambda x: {y:1 for y in x['InvoiceNo']})
                                        .apply(pd.Series)
                                        .fillna(0)
                                        .reset_index())

In [35]:
Invoice_vs_Description_matrix_cluster1=Invoice_vs_Description_matrix_cluster1.set_index('Description')

In [36]:
Invoice_vs_Description_matrix_cluster1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1715 entries, 10colourspaceboypen to zincwilliewinkiecandlestick
Columns: 17742 entries, 536367 to 581587
dtypes: float64(17742)
memory usage: 232.2+ MB

In [37]:
Invoice_vs_Description_matrix_cluster1.head()

,536367,536368,536369,536370,536378,536380,536381,536382,536384,536385,...,581572,581574,581578,581579,581580,581581,581582,581585,581586,581587
Description,,,,,,,,,,,,,,,,,,,,,
10colourspaceboypen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12colouredpartyballoons,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12ivoryrosepegplacesettings,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12messagecardswithenvelopes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
12pencilsmalltubewoodland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
from sklearn.metrics.pairwise import pairwise_distances

In [39]:
cor_sim1 = 1-pairwise_distances(Invoice_vs_Description_matrix_cluster1.T, metric = "correlation")
cor_sim1 = pd.DataFrame(cor_sim1, index=Invoice_vs_Description_matrix_cluster1.columns, columns=Invoice_vs_Description_matrix_cluster1.columns)
cor_sim1.head()

,536367,536368,536369,536370,536378,536380,536381,536382,536384,536385,...,581572,581574,581578,581579,581580,581581,581582,581585,581586,581587
536367,1.000000,-0.002339,-0.001654,-0.007051,-0.005747,-0.001654,-0.008156,-0.004972,-0.004383,-0.003310,...,-0.002866,-0.005500,-0.010024,-0.007051,-0.006850,-0.001654,-0.002339,0.082368,-0.001654,-0.006431
536368,-0.002339,1.000000,-0.000825,-0.003519,-0.002868,-0.000825,-0.004071,-0.002482,-0.002187,0.352521,...,-0.001430,-0.002745,-0.005003,-0.003519,-0.003419,-0.000825,-0.001168,-0.003316,-0.000825,-0.003210
536369,-0.001654,-0.000825,1.000000,-0.002488,-0.002028,-0.000583,-0.002878,-0.001754,-0.001546,-0.001168,...,-0.001011,-0.001941,-0.003537,-0.002488,-0.002417,-0.000583,-0.000825,-0.002344,-0.000583,-0.002269
536370,-0.007051,-0.003519,-0.002488,1.000000,-0.008645,-0.002488,0.036439,0.150902,-0.006593,-0.004980,...,-0.004311,0.135071,0.024832,-0.010607,-0.010305,-0.002488,-0.003519,0.109037,-0.002488,0.297572
536378,-0.005747,-0.002868,-0.002028,-0.008645,1.000000,-0.002028,-0.010000,-0.006097,-0.005374,-0.004059,...,-0.003514,-0.006744,-0.012292,-0.008645,-0.008399,-0.002028,-0.002868,-0.008146,-0.002028,-0.007885

In [40]:
jac_sim2 = 1-pairwise_distances(Invoice_vs_Description_matrix_cluster1.T, metric = "jaccard")
jac_sim2 = pd.DataFrame(jac_sim2, index=Invoice_vs_Description_matrix_cluster1.columns, columns=Invoice_vs_Description_matrix_cluster1.columns)
jac_sim2.head()

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype float64 was converted to bool by check_pairwise_arrays.
  warnings.warn(msg, DataConversionWarning)

,536367,536368,536369,536370,536378,536380,536381,536382,536384,536385,...,581572,581574,581578,581579,581580,581581,581582,581585,581586,581587
536367,1.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.043478,0.0,0.000000
536368,0.0,1.0,0.0,0.0,0.0,0.0,0.00000,0.00,0.0,0.2,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
536369,0.0,0.0,1.0,0.0,0.0,0.0,0.00000,0.00,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000
536370,0.0,0.0,0.0,1.0,0.0,0.0,0.02439,0.08,0.0,0.0,...,0.0,0.074074,0.018868,0.0,0.0,0.0,0.0,0.062500,0.0,0.178571
536378,0.0,0.0,0.0,0.0,1.0,0.0,0.00000,0.00,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000

In [48]:
euc_sim = 1-pairwise_distances(Invoice_vs_Description_matrix_cluster1.T, metric = "euclidean")
euc_sim = pd.DataFrame(euc_sim, index=Invoice_vs_Description_matrix_cluster1.columns, columns=Invoice_vs_Description_matrix_cluster1.columns)
euc_sim.head()

,536367,536368,536369,536370,536378,536380,536381,536382,536384,536385,...,581572,581574,581578,581579,581580,581581,581582,581585,581586,581587
536367,1.000000,-2.162278,-2.000000,-4.099020,-3.472136,-2.000000,-4.656854,-3.123106,-2.872983,-2.464102,...,-2.316625,-3.358899,-5.633250,-4.099020,-4.000000,-2.000000,-2.162278,-3.690416,-2.000000,-3.795832
536368,-2.162278,1.000000,-0.732051,-3.472136,-2.741657,-0.732051,-4.099020,-2.316625,-2.000000,-1.000000,...,-1.236068,-2.605551,-5.164414,-3.472136,-3.358899,-0.732051,-1.000000,-3.242641,-0.732051,-3.123106
536369,-2.000000,-0.732051,1.000000,-3.358899,-2.605551,-0.414214,-4.000000,-2.162278,-1.828427,-1.236068,...,-1.000000,-2.464102,-5.082763,-3.358899,-3.242641,-0.414214,-0.732051,-3.123106,-0.414214,-3.000000
536370,-4.099020,-3.472136,-3.358899,1.000000,-4.477226,-3.358899,-5.324555,-3.795832,-4.000000,-3.690416,...,-3.582576,-4.000000,-6.211103,-5.000000,-4.916080,-3.358899,-3.472136,-4.477226,-3.358899,-3.795832
536378,-3.472136,-2.741657,-2.605551,-4.477226,1.000000,-2.605551,-5.000000,-3.582576,-3.358899,-3.000000,...,-2.872983,-3.795832,-5.928203,-4.477226,-4.385165,-2.605551,-2.741657,-4.291503,-2.605551,-4.196152

In [50]:
check0=jac_sim2.iloc[3:4]
pd.DataFrame(check0)
check0=check0.sort_values(by=536370, ascending=False, axis=1)
check0.iloc[:,0:20]

,536370,557669,544157,567552,575154,568518,564352,536852,542519,540455,538003,547520,565239,581587,553415,539488,543625,573867,575067,549825
536370,1.0,0.346154,0.275862,0.258065,0.24,0.217391,0.206897,0.2,0.193548,0.1875,0.185185,0.185185,0.181818,0.178571,0.178571,0.177778,0.173913,0.171429,0.166667,0.166667

In [51]:
check2=cor_sim1.iloc[3:4]
pd.DataFrame(check2)
check2=check2.sort_values(by=536370, ascending=False, axis=1)
check2.iloc[:,0:20]

,536370,557669,544157,567552,575154,536852,568518,564352,568148,573757,567537,580029,538176,555576,575916,542519,541672,573599,546385,542375
536370,1.0,0.509495,0.426407,0.404741,0.386809,0.381512,0.367859,0.336228,0.331773,0.331773,0.331773,0.331773,0.331773,0.331773,0.331773,0.31708,0.312796,0.312796,0.312796,0.312796

In [52]:
check4=euc_sim.iloc[3:4]
pd.DataFrame(check4)
check4=check4.sort_values(by=536370, ascending=False, axis=1)
check4.iloc[:,0:20]

,536370,567537,555576,538176,568148,580029,575916,573757,536852,536794,567914,559677,539839,577168,537198,539989,564906,557483,546919,577148
536370,1.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.0,-3.123106,-3.123106,-3.123106,-3.123106,-3.123106,-3.123106,-3.123106,-3.123106,-3.123106,-3.123106,-3.123106

In [ ]:
check3=jac_sim1.iloc[2:3]
check3
check3=check3.sort_values(by=536369, ascending=False, axis=1)
check3.iloc[:,0:20]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
short_data=pd.read_csv('short_data.csv')

In [ ]:
short_data.head()

In [ ]:
vec1 = (short_data.InvoiceNo)
vec2 = (short_data.ratings)

In [ ]:
print(cosine_similarity([vec1, vec2]))